<div ng-include src="'shared_views/navBar.html'"></div>
<style>
    .container {
        height:90vh;
        margin-top:80px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        z-index: 1;
    }

    .container::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(255,255,255,0.5);
    }
    .panel-login{
        width: 40vw;
        margin-top: 15vh;
        height: 60vh;
        border-radius: 20px;
        padding-top:35px;
        text-align:center;
        display:inline-block;
        /*border: dashed 1px red;*/
        -webkit-box-shadow: -1px 3px 19px -1px rgba(0,0,0,0.56);
        -moz-box-shadow: -1px 3px 19px -1px rgba(0,0,0,0.56);
        box-shadow: -1px 3px 19px -1px rgba(0,0,0,0.56);
    }

    .panel-login input[type="text"],
    .panel-login input[type="email"],
    .panel-login input[type="password"] {
        height: 45px;
        border: 1px solid #ddd;
        font-size: 16px;
        width: 30vw;
        text-align:center;
        border-radius: 50px;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
        margin-top:40px
    }

    .panel-login input:hover,
    .panel-login input:focus {
        outline: none;
        -webkit-box-shadow: -1px 4px 19px -2px rgba(0,0,0,0.33);
        -moz-box-shadow: -1px 4px 19px -2px rgba(0,0,0,0.33);
        box-shadow: -1px 4px 19px -2px rgba(0,0,0,0.33);
        text-align:center;
        border-color: #ccc;
    }
    .panel-login .button:hover,
    .panel-login .button:focus {
        outline: none;
        -webkit-box-shadow: -1px 4px 19px -2px rgba(0,0,0,0.33);
        -moz-box-shadow: -1px 4px 19px -2px rgba(0,0,0,0.33);
        box-shadow: -1px 4px 19px -2px rgba(0,0,0,0.33);
        text-align:center;
    }
    .panel-login .heading{
        font-size: 45px;
        color:white;

    }

</style>
<div class="container" style="background-image: url('images/brandBack.jpg');" align="center">
    <div class="panel-login" >
        <span class="heading">Sign Up</span>
        <br>
        <input style="margin-top:40px" type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Enter Username" value="" required>
        <br>
        <input style="margin-top:40px" type="email" name="email" id="username" tabindex="1" class="form-control" placeholder="Enter Email" value="" required>
        <br>
        <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Enter Password" required>
        <br>
        <button class="button button4" style="margin-top:40px;width: 30vw;height: 45px;" ng-click="signin()">Sign Up</button>
        <br>
        <span style="color:white;font-size: 18px;cursor:pointer">By signing up, you agree to our <a href="#">Terms and Conditions</a></span>
    </div>
</div>