<div ng-include src="'shared_views/navBar.html'"></div>
<style>
    .container {
        height:90vh;
        margin-top:80px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        z-index: 1;
    }

    .container::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(255,255,255,0.5);
    }
    .panel-login{
        width: 50vw;
        margin-top: 7vh;
        height: 72vh;
        border-radius: 20px;
        padding-top:10px;
        text-align:center;
        display:inline-block;
        /*border: dashed 1px red;*/
        -webkit-box-shadow: -1px 3px 19px -1px rgba(0,0,0,0.56);
        -moz-box-shadow: -1px 3px 19px -1px rgba(0,0,0,0.56);
        box-shadow: -1px 3px 19px -1px rgba(0,0,0,0.56);
    }

    .panel-login input[type="text"],
    .panel-login input[type="email"],
    .panel-login input[type="password"] {
        height: 45px;
        border: 1px solid #ddd;
        font-size: 16px;
        width: 20vw;
        text-align:center;
        border-radius: 50px;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
        margin-top:40px
    }
    .panel-login textarea {
        height: 70px;
        border: 1px solid #ddd;
        font-size: 16px;
        width: 42vw;
        overflow: hidden;
        text-align:center;
        border-radius: 50px;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
    }
    .panel-login select {
        height: 45px;
        border: 1px solid #ddd;
        font-size: 16px;
        width: 20vw;
        overflow: hidden;
        text-align:center;
        border-radius: 50px;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
    }
    .panel-login textarea:hover,
    .panel-login textarea:focus  {
        outline: none;
        -webkit-box-shadow: -1px 4px 19px -2px rgba(0,0,0,0.33);
        -moz-box-shadow: -1px 4px 19px -2px rgba(0,0,0,0.33);
        box-shadow: -1px 4px 19px -2px rgba(0,0,0,0.33);
        text-align:center;
        border-color: #ccc;
    }
    .panel-login select:hover,
    .panel-login select:focus  {
        outline: none;
        -webkit-box-shadow: -1px 4px 19px -2px rgba(0,0,0,0.33);
        -moz-box-shadow: -1px 4px 19px -2px rgba(0,0,0,0.33);
        box-shadow: -1px 4px 19px -2px rgba(0,0,0,0.33);
        text-align:center;
        border-color: #ccc;
    }

    .panel-login input:hover,
    .panel-login input:focus {
        outline: none;
        -webkit-box-shadow: -1px 4px 19px -2px rgba(0,0,0,0.33);
        -moz-box-shadow: -1px 4px 19px -2px rgba(0,0,0,0.33);
        box-shadow: -1px 4px 19px -2px rgba(0,0,0,0.33);
        text-align:center;
        border-color: #ccc;
    }
    .panel-login .button:hover,
    .panel-login .button:focus {
        outline: none;
        -webkit-box-shadow: -1px 4px 19px -2px rgba(0,0,0,0.33);
        -moz-box-shadow: -1px 4px 19px -2px rgba(0,0,0,0.33);
        box-shadow: -1px 4px 19px -2px rgba(0,0,0,0.33);
        text-align:center;
    }
    .panel-login .heading{
        font-size: 45px;
        color:white;
    }
    .panel-login .tittle{
        font-size: 20px;
        color:black;
    }

</style>
<div class="container" style="background-image: url('images/brandBack.jpg');" align="center">
    <div class="panel-login" >
        <span class="heading">Sign Up</span>
        <br>
        <br>
        <span class="tittle" style="margin-top:40px">Tell us about your Profession</span>
        <br>
        <select style="margin-top:10px;text-align-last: center;" ng-model="signUpData.companyType">
            <option value="ADVERTISERS">ADVERTISERS</option>
            <option value="SSP">SSP</option>
            <option value="DSP">DSP</option>
            <option value="PUBLISHER">PUBLISHER</option>
            <option value="AGENCY">AGENCY</option>
            <option value="OTHER">OTHER</option>
        </select> &nbsp &nbsp &nbsp
        <input style="margin-top:10px" type="text" name="companyName" id="companyName" tabindex="1" class="form-control" ng-model="signUpData.companyName" placeholder="Company Name" value="" required>
        <br>
        <br>
        <span class="tittle" style="margin-top:40px">Tell us about yourself</span>
        <br>
        <input style="margin-top:10px" type="text" ng-model="signUpData.userName" name="username" id="username" tabindex="2" class="form-control" placeholder="Name/Username" value="" required> &nbsp &nbsp &nbsp
        <input style="margin-top:10px" type="text" ng-model="signUpData.email" name="email" id="username" tabindex="3" class="form-control" placeholder="Enter Email" value="" required>
        <br>
        <input style="margin-top:10px" type="password" ng-model="signUpData.pass" name="password" id="password" tabindex="4" class="form-control" placeholder="Password" value="" required> &nbsp &nbsp &nbsp
        <input style="margin-top:10px" ng-model="signUpData.confirmPass" type="password" name="Confirmpassword" id="Confirmpassword" tabindex="5" class="form-control" placeholder="Confirm Password" value="" required>
        <br>
        <br>
        <span class="tittle" style="margin-top:40px">What Got you interseted in Adhop ?</span>
        <br>
        <textarea style="margin-top:10px" ng-model="signUpData.interestIn" name="Interset"  tabindex="6" class="form-control" placeholder="Interseted in Adhop because" value="" required></textarea>
        <br>
        <button class="button button4" style="margin-top:20px;width: 20vw;height: 45px;" tabindex="7" ng-click="doSignUp()">Sign Up</button>
        <br>
        <span style="color:white;font-size: 18px;cursor:pointer">By signing up, you agree to our <a href="#">Terms and Conditions</a></span>
    </div>
</div>